*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.redes{
    color: #FFB436;
    transition: .5s;
}
.redes:hover{
    color: #7f21c2;
}
:root{
    --cor1:#A529FF;
    --cor2: #FFB436;
    --cor3: #221BFF;
    --cor4: #E3FF03;
    --cor5:#0F86FF;
}

h1, h2{
    color: #7f21c2;
}

#topo{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}
#topo img{
    width: 60px;
    margin-left: 15px;
}
#topo ul{
    display: flex;
    margin-right: 10%;
}
#topo ul li{
    list-style: none;
    margin-right: 8px;
    border: 2px solid var(--cor1);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: .7s;
    background-color: white;
}
#topo ul li:hover{
    background-color: #7f21c2;
    a{
        color: white;
    }
}
#topo a:hover{
    color: white;
}
#topo a{
    color: black;
    text-decoration: none;
}

.formulario .btn, .site-container .btn{
    background-color: #A529FF;
    color: aliceblue;
}
.formulario .btn:hover{
    background-color: #7f21c2;
    color: antiquewhite;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 100px;
}
.whatsapp a{
        color: green;
}
.whatsapp a:hover{
    color: rgb(4, 77, 4);
}
.msg-resp{
    padding-block: 80px;
}
@media screen and (max-width:400px){
    .navbar ul li {
        display: none;
    }
}

@media screen and (max-width:900px ){
    .navitems{
        margin: 0;
    }
    .animacao video{
        width: 100%;
    }
    .whatsapp{
        font-size: 70px;   
    }
}

#apresentacao::after{
    content: '|';
    opacity: 1;
    animation: piscar .7s infinite;
}
@keyframes piscar {
    0%,100%{
        opacity: 0;
    }50%{
        opacity: 1;
    }
}

.site-container{
    margin-bottom: 40px;
    padding: 16px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.site-container iframe{
    width: 100%;
    height: 400px;
}


